# Virtual Environment
venv/
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Temporary files
tmp/

# Log files
*.log
